@{
    Layout = "_Layout";
    var movieModel = ViewBag.items as List<MoviesResponseModel>;
}

<div class="card-container">
    @foreach (var item in movieModel)
    {
    @await Html.PartialAsync("_MovieCard", item)
    }
</div>